/*Default*/
html {
    font-size: 100%;
}

* {
    scroll-behavior:smooth;
    --main-color: chocolate;
    --main-hover-color:darkorange;
    --main-padding: 3rem;
    --main-bg-dark-color: #fff;
    --main-bg-light-color: #4c4c4c;
    --main-transition: all 0.5s ease-out;
}

h1, h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    text-align: center;
    width: 100%;
}

a {
    transition: var(--main-transition);
    color:white;
}

a:hover {
    text-decoration: none;
}

i {
    transition: var(--main-transition);
}

body {
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}

.btn {
    transition: var(--main-transition);
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color:#3c3c3c !important;
    border: 1px solid var(--main-bg-dark-color) !important;
}

p {
    font-size: 1rem;
}

.container-header {
    width: 100%;
}

.main-container {
    display: grid;
    place-items: center center;
    width:100vw;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}


/*Navbar Style*/
.navbar a:hover {
    border-bottom: solid 0.2rem var(--main-color);
}

.navbar a{
    border-bottom: solid 0.2rem transparent;
    margin:0;
}

.navbar {
    padding:0 1rem 0rem 1rem;
    /* haut | droit | bas | gauche */
    width: 100vw;
}

.navbar-toggler {
    padding:0.13rem;
    border:0;
}

.navbar-toggler:hover {
    border:0;
    text-decoration: none;
}

/* Header Style */
.header {
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
     url('../img/me.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 2rem;
}

.header h1 {
    color: var(--main-bg-dark-color);
    text-align: center;
    font-size: 4rem;
}

.header h3 {
    text-align: center;
    color:var(--main-bg-dark-color);
    font-size: 1.8rem;
}
.header span {
    font-size: 2rem;
    position: relative;
    top: -10px;
    color: var(--main-color)e;
}

.header strong {
    color: var(--main-color);
}

.flex-container {
    display: flex !important;
    border:1px;
    height: 3rem;
    width: 100vw;
    justify-content: center;

}

.flex {
    text-align: center;
    align-self: center;
    color:var(--main-bg-dark-color);
    border-radius: 2;
    background-color: #12122D;
}

/* Services Styles */
.services {
    padding: var(--main-padding);
    text-align: center;
}

.services h4 {
    color:var(--main-bg-light-color);
    padding-top: 1.25rem 0 0 .25rem;
    margin-top: 1.88rem;
}

.services h2 {
    margin-bottom: 4rem;
}

.services p {
    font-size: 1rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    color: #737373;
}

.services i {
    height: 5rem;
    width: 5rem;
    font-size: 2.20rem;
    padding: 1.6rem 1.25rem;
    color: var(--main-bg-dark-color);
    background-color: var(--main-color);
    border-radius: 50%;
}

/* Compétences Styles */
.competences {
    padding: var(--main-padding);
    text-align: center;
    background-color: #12122D;
}

.competences section {
    height: 16rem;
}

.competences h4 {
    color:var(--main-bg-dark-color);
    margin-top: 0.63rem;
}

.competences h2 {
    margin-bottom: 1rem;
    color:var(--main-bg-dark-color);
}

.competences strong {
    color:var(--main-bg-dark-color);
}

.competences p {
    font-size: 1rem;
    color: var(--main-bg-dark-color);
    margin-bottom: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition);
    /*transition: visibility 0s, opacity 0.5s linear;*/
    
}

.competences i {
    font-size: 7rem;
    padding: 0.31rem 0.63rem;
    color: var(--main-bg-dark-color);
    text-shadow: 0.06rem 0.13rem 0.18rem rgba(0,0,0, 0.8);
    transition: var(--main-transition);
}

.competences section:hover i{
    font-size: 5rem;
    transition: var(--main-transition);
}

.competences section:hover p{
    visibility: visible;
    opacity: 1;
}

/* Etudes & Experiences Styles */

#etudes {
    background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,250,250,0.8)),
     url('../img/books.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.cartes {
    padding: var(--main-padding);
}

.cartes img {
    height:4rem;
    width:auto;
    margin-top: 5rem;
}

.cartes {
    text-align: center;
}

.cartes h2, h3, h4, strong {
    margin: 1.25rem 0 1.25rem;
    color: var(--main-bg-light-color);
}

.cartes strong {
    font-weight: 600;
}

.cartes p {
    color: #737373;
}

.cartes i {
    height: 1.88rem;
    width: auto;
    padding: 0.3rem;
    font-size: 1.25rem;
    color: var(--main-color);
}

.cartes i:hover {
    color: var(--main-hover-color);
    transition: var(--main-transition);
}

/* Contacts Styles */
.contacts {
    padding: var(--main-padding);
    text-align: center;
    background-color: #081c28;
    min-height: 80vh;
}

.contacts h2 {
    color: var(--main-bg-dark-color);
}

.contacts p {
    padding-bottom: 4.38rem;
    color: var(--main-bg-dark-color) !important;
    margin: 1.25rem 0 1.25rem;
}

.contacts strong {
    color: var(--main-bg-dark-color);
}

.contacts .btn {
    margin-top: 0.31rem;
    width: 100%;
    background-color: #7f1C1C;
    color:var(--main-bg-dark-color);
    font-size: 0.93rem;

}

/* Footer Styles */
#photo {
    text-align: center;
    margin: 0.75rem;
}

#footer {
    padding: 1.88rem;
    color: var(--main-bg-dark-color);
    background-color: #2E363F;
}

#footer strong {
    color:white;
}

#footer h4 {
    color: var(--main-bg-dark-color);
}


#footer .social {
    font-size: 1.25rem;
    height: 1.88rem;
    width: 1.88rem;
    text-align: center;
    padding: 0.13rem;
    margin-bottom: 0.94rem;
    margin-right: 0.31rem;
    color: var(--main-bg-dark-color);
}

#footer .social:hover {
    color: gray;
}

#footer .btn {
    color: var(--main-bg-dark-color);
    background-color: coral;
    border: 0.06rem solid var(--main-bg-dark-color);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .main-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .main-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    html {
        font-size: 70%;
    }
  }